@model Event_management_sys.Models.User

<link rel="stylesheet" href="~/css/account.css" />

<div class="container">

    <!-- REGISTER (FIRST) -->
    <div class="card register-card">
        <h3>Register</h3>
        <form asp-action="Register" method="post">

            <label>Name</label><br />
            <input asp-for="Name" /><br /><br />

            <label>Email</label><br />
            <input asp-for="Email" /><br /><br />

            <label>Password</label><br />
            <input asp-for="Password" type="password" /><br /><br />

            <button type="submit">Register</button>
        </form>
    </div>

    <!--  LOGIN -->
    <div class="card login-card">
        <h3>Login</h3>
        <form asp-action="Login" method="post">
            <label>Email</label><br />
            <input type="text" name="email" /><br /><br />

            <label>Password</label><br />
            <input type="password" name="password" /><br /><br />

            <button type="submit">Login</button>
        </form>
    </div>

</div>

<p class="message">@ViewBag.Message</p>