@model List<Event_management_sys.Models.Booking>
<link rel="stylesheet" href="~/css/MyBookings.css" />

<h2>My Bookings</h2>

<table >
    <tr>
        <th>Event ID</th>
        <th>Tickets</th>
        <th>Booking Date</th>
    </tr>

    @foreach (var b in Model)
    {
        <tr>
            <td>@b.EventID</td>
            <td>@b.Tickets</td>
            <td>@b.BookingDate</td>
        </tr>
    }
</table>